<p-toast></p-toast>

<div class="categories-bar">
  <button class="category-chip" 
          [class.active]="selectedCategoryId === null"
          (click)="getAllGifts()">
    <i class="pi pi-briefcase"></i>
    <span>כל המתנות</span>
  </button>

  <button
    class="category-chip"
    *ngFor="let category of listCategoryWithGifts()"
    [class.active]="selectedCategoryId === category.id"
    (click)="getCategoryById(category.id)"
  >
    <i class="pi pi-tag"></i>
    <i class="pi pi-trash delete-icon" *ngIf="category.gifts!.length==0 && role=='Manager'" (click)="deleteCategory(category.id)"></i>
    <span>{{ category.name }}</span>
  </button>
</div>

<div class="search-filter-panel">
  <input [value]="nameSignal()" (input)="onSearchChange($any($event.target).value)" placeholder="חיפוש" pInputText />
  
   <select (change)="onSearchTypeChange($event)">
    <option value="searchByGiftName">שם מתנה</option>
    <option value="searchByDonorName">שם תורם</option>
    <option value="searchByCustomer">מספר רוכשים</option>
  </select>

  <select (change)="onChange($event)">
    <option value="" disabled selected>מיין</option>
    <option value="noSort">תצוגה רגילה</option>
    <option value="sortByBuyer">לפי רוכשים</option>
    <option value="sortByPrice">לפי מחיר</option>
  </select>
</div>

<div class="gifts-grid" *ngIf="isLoaded()">
  <div class="gift-card" *ngFor="let gift of listGifts(); let i = index">
    
    <div class="image-container">
      <img class="gift-image" [src]="gift.image" [routerLink]="['/gift', gift.id]">
      <div class="winner-badge" *ngIf="prize() && gift.winner">
        הזוכה: {{ gift.winner.name }}
      </div>
      <div class="winner-badge no-winner" *ngIf="prize() && !gift.winner">
        אין זוכה
      </div>
    </div>

    <div class="gift-content">
      <div class="gift-header">
        <h3 class="gift-name">{{ gift.name }}</h3>

        <div class="gift-icons">
          <i class="pi pi-pencil edit-icon" *ngIf="role=='Manager'"
             (click)="editGift(gift.id)"></i>

          <i class="pi pi-trash delete-icon" *ngIf="role=='Manager'" (click)="deleteGift(gift.id)"></i>
        </div>
      </div>

      <p class="gift-description" *ngIf="gift.description">
        {{ gift.description }}
      </p>

      <div class="gift-footer">
        <div class="gift-info">
          <span class="gift-value" *ngIf="gift.value">₪{{ gift.value }} שווי המתנה</span>
        </div>

        <div class="gift-actions">
          <button class="qty-btn minus-btn" (click)="decreaseQty(i)">−</button>
          <div class="quantity-box">
            <input type="text" class="qty-input" [value]="listValue()[i]" readonly>
          </div>
          <button class="qty-btn plus-btn" (click)="increaseQty(i)">+</button>
          <button class="action-btn add-btn" (click)="addGiftToBasket(gift.id, i)">הוסף לסל</button>
        </div>
      </div>
    </div>
  </div>
</div>