<p-toast></p-toast>

<section style="border-radius: 10px;" class="hero-video">
  <video autoplay muted loop playsinline>
    <source src="https://localhost:7081/uploads/video.mp4" type="video/mp4">
  </video>
  <div class="hero-content">
    <h1>ההגרלה השנתית</h1>
    <p></p>
  </div>
</section>

<div class="spicalCard">
  <div
    class="card"
    *ngFor="let pcka of listPackages(); let i = index"
    [ngClass]="listColors[i % listColors.length]"
  >
    <div class="up">
      <h4 class="card-title">{{ pcka.name }}</h4>
      <p style="font-size: xx-large;">
        {{ pcka.countCard === 1 ? 'כרטיס בודד' : pcka.countCard + ' כרטיסים' }}
      </p>
      <p class="card-price">₪{{ pcka.price }}</p>
    </div>

    <div class="counter-row">
      <div class="input-with-label">
        <p-inputnumber
          class="clean-input-number"
          [(ngModel)]="listValue()[i]"
          [showButtons]="true"
          buttonLayout="horizontal"
          spinnerMode="horizontal"
          [inputStyle]="{ width: '2rem', height: '2rem' }"
          [min]="1"
          style="background-color: white;"
        >
          <ng-template #incrementbuttonicon>
            <span class="pi pi-plus"></span>
          </ng-template>
          <ng-template #decrementbuttonicon>
            <span class="pi pi-minus"></span>
          </ng-template>
        </p-inputnumber>

        <span class="counter-label" (click)="addPackage(pcka.id, i)">להוספת חבילה</span>
      </div>
    </div>

    <div class="image" [style.background-image]="'url(' + pcka.imageUrl + ')'"></div>
  </div>
</div>

<div class="bottom-image"></div>